@mixin main {
	* {
		margin: 0;
		padding: 0;
		font-family: $font-family;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@mixin center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin tablet {
	@media screen and (max-width: 900px) {
		@content;
	}
}
@mixin mobile {
	@media screen and (max-width: 600px) {
		@content;
	}
}