$orange: #f75311;
$darkblue: #374249;
$font-color: #797979;
$hedaing-color: #374249;
$light-gray1: #cfd1d3;
$light-gray2: #f3f7f9;
$font-family: 'Roboto', sans-serif;
$margin: 0 auto;
$white: #ffffff;