h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-group {
    margin: 1.3em 0em 3em 0em;
    text-align: right;
    a {
        font-size: 0.8em;
        display: inline-block;
        line-height: 3em;
        border: 1px solid $color-second;
        border-radius: 1.5em;
        padding: 0px 1.2em;
        color: $color-second;
        margin-left: 1.3em;
    }
}

nav {
    background-color: $color-second;
    li {
        display: inline-block;
        background-color: $color-second;
        &.location {
            background-color: $color-main;
            padding-right: 5em;
            padding-left: 0em;
            img {
                width: 30px;
                float:left;
                padding-top: 0.4em;
            }
            a {
                padding-left: 1em;
                text-decoration: underline;
            }
        }
        
        a {
            display: block;
            font-weight: 100;
            font-size: 0.8em;
            color: white;
            line-height: 3em;
            padding: 0em 2em;
        }
    }
}


.slider {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
    .transparent {
        background-color: rgba(50,50,50,0.5);
        color: white;
    }
    div {
        width: 65%;
    }
    h1, p {
        color: white;
        text-align: center; 
    }

}

main {
    margin: 0 auto;
    padding: 0px 15%;
}

.apartment {
    float: left;
    width: 25%;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
    div {
        display: none;
        padding: 0.5em;
        position: absolute;
        top: 0px;
        height: 6em;
        width: 100%;
        background-color: rgba(250,250,250,0.5);
    }
    h3, p {
        color: black;
    }
    &:hover div {
        display: block;
    }
}


.headings-center {
    margin-top: 2em;
    h2, p {
        text-align: center;
    }
    h2 {
        margin-bottom: 1.5em;
    }
}

table {
    border-spacing:0;
    line-height: 1.5em;
    margin: 3em auto;
    width: 80%;
    text-align: center;
    th {
        color: white;
        background-color: $color-main;
    }
    .highlight {
        color: white;
        background-color: $color-second;
    }
    td {
//        border: 1px solid black; ???????????????
    }
}

.contact {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3em;
}

.map {
    width: 32.5%;
    height: 200px;
    float: left;
}

form {
    background-color: $color-main;
    float: right;
    width: 62.5%;
    padding: 0.5em;
    select {
        height: 2em;
        width: 20%;
        line-height: 2em;
    }
    input, textarea {
        width: 100%;
        line-height: 2em;
    }
    input:first-child {
        width: 20%;
    }
    .small-input {
        width: 78%;
        float: right;
    }
    input[type="email"] {
        margin: 0.7em 0em;
    }
}



/* FOOTER */
footer {
    text-align: center;
    background-color: $color-second;
    line-height: 1.5em;
    color: white;
    span {
        color: $color-main;
    }
}












